.wrapper{
    min-width: 100vw;
    display: flex;
    justify-content: center;
}
.page-wrapper{
    background-color: #f5f5f5;
    width: 600px;
    max-width: 900px;
    padding: 24px;
    border-radius: 8px;
    
}
.loading {
  text-align: center;
  color: #999;
  margin-top: 4rem;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-bottom: 20px;


    h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }


    .total {
        font-size: 14px;
        color: #777;
    }
}
.profile-image{
    height: 50px;
    width: auto;
}


.student-item {
    display: flex;
    gap: 16px;
    padding: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    margin-bottom: 16px;
    align-items: flex-start;


    &:last-child {
        margin-bottom: 0;
    }
}


.avatar {
    width: 70px;
    height: 70px;
    background: #e0e0e0;
    border-radius: 4px;
}


.info {
    flex: 1;


    h3 {
        margin: 0 0 6px 0;
        font-size: 16px;
        font-weight: 600;
    }


    p {
        margin: 0 0 10px 0;
        font-size: 13px;
        color: #777;


        span {
            margin: 0 6px;
        }
    }
}


.btn-delete, .btn-add {
    background: #efefef;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;


    &:hover {
        background: #e0e0e0;
    }
}