.wrapper{
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.page-wrapper{
    background-color: #f5f5f5;
    width: 200px;
    max-width: 900px;
    padding: 24px;
    border-radius: 8px;
}

.avatar-large{
    height: 200px;
    width: auto;
}